{% extends 'base.html.twig' %}

{% block title %}About {{ subtitle }}{% endblock %}

{% block body %}
    <div>
        <h3 class="my-3">O NASZEJ FIRMIE</h3>

        <img src="img/kebab4b.png" alt="kebab" class="img-fluid"/>
        <p class="mt-3">Firma "SUPER KEBAB" funkcjonuje na rynku gastronomicznym od wielu lat. Doświadczona kadra kucharzy to gwarancja zadowolenia z poziomu świadczonych usług. W lokalu panuje przyjazna i niepowtarzalna atmosfera, a ceny są bardzo niskie. Nasz adres to: ulica Mozarta 99, 3X-9XX Kraków.</p>
    </div>
{% endblock %}
