{% extends 'base.html.twig' %}
 
{% block title %}Menu {{ subtitle }}{% endblock %}

{% block body %}
    <h2 class="my-3">MENU</h2>
    <hr>

    <div id="menu-food">
        <h3>KEBAB W CIEŚCIE ARABSKIM</h3>
        <ul>
            <li>Standard ..... 17</span></li>
            <li>Z frytkami i zapiekanym serem ..... 21</li>
            <li>Z frytkami, zapiekanym serem i grillowanym bekonem ..... 23</li>
            <li>Z jajkiem i grillowanym bekonem ..... 21</li>
        </ul>
        <h3>KEBAB W BUŁCE</h3>
        <ul>
            <li>Standard ..... 18</li>
            <li>Z grillowanymi warzywami ..... 20</li>
            <li>Frytobułka ..... 21</li>
        </ul>
        <h3>ZESTAWY OBIADOWE</h3>
        <ul>
            <li>Gyros z frytkami ..... 23</li>
            <li>Kapsalon z frytkami i zapiekanym serem ..... 24</li>
            <li>Kapsalon z frytkami, bekonem i jajkiem ..... 25</li>
        </ul>
        <h3>DANIA WEGE I VEGAN</h3>
        <ul>
            <li>Warzywko w cieście arabskim ..... 16</li>
            <li>Warzywko w cieście z frytkami i zapiekanym serem ..... 20</li>
            <li>Falafel w cieście arabskim ..... 19</li>
            <li>Falafel z ryżem ..... 17</li>
        </ul>
        <h3>DODATKI I SOSY</h3>
        <ul>
            <li>Dodatkowe mięso ..... 4</li>
            <li>Extra ser ..... 3</li>
            <li>Extra ser feta ..... 3</li>
        </ul>
    </div>
{% endblock %}

